Gemfile.lock
bower_components
tmp
docs/public/
docs/node_modules

# exclude database
/data/*
coverage
log/

#exclude config
mime.types

# temporary files
*.sass-cache
*.swp
.DS_Store
.vagrant
*.log

# editor configurations
.idea/
