// Mixins & Psuedo Classes

/*%wrapper {
	width: $width;
	margin: 0 auto;
}

%bold-gray-font {
	text-decoration: none;
	text-transform: uppercase;
	color: $gray;
	font-size: $small;
	letter-spacing: $default-spacing;
}

%bold-dark {
	text-transform: uppercase;
	color: $dark-gray;
	font-size: 0.8em;
	letter-spacing: $default-spacing;
	font-weight: 700;
}

%title {
	font-family: $header-font;
	text-transform: uppercase;
	font-size: 1.5em;
}*/

%psuedo-element {
	content: "";
	display: block;
	position: absolute;
}

@mixin hide-text {
	text-indent: 100%;
	white-space: nowrap;
	font-size: 0em;
}

@mixin arrow($direction: 'right', $hover: true) {
	@if $direction == 'right' {
		&:after {
			content: '\203A';
			margin-left: 4px;
			padding: 4px 0;
			font-size: 1.3em;
		}
		@if $hover {} @else {
			&:hover:after {
				/*color: $gray;*/
			}
		}
	} @elseif $direction == 'left' {
		&:before {
			content: '\2039';
			margin-right: 4px;
			padding: 4px 0;
			font-size: 1.3em;
		}
	}
}

@mixin inner-shadow($shadow: '0 0 20px rgba(0,0,0,0.4) inset') {
	position: relative;
	&:before {
		@extend %psuedo-element;
		@include box-shadow(#{$shadow});
		width: 100%;
		height: 100%;
		top:0;
		left:0;
	}
}

@mixin top-shine($shine: '1px solid rgba(255,255,255, 0.4)') {
	&:after {
		@extend %psuedo-element;
		width: 100%;
		height: 1px;
		top: 0;
		border-bottom: #{$shine};
	}
}
