@import "bourbon/bourbon";
// Grid settings
@import "neat/neat-helpers";
$grid-columns: 10;
$gutter: em(40);
$max-width: em(1140);
@import "neat/neat";
@import "normalize/normalize";
@import "config";
@import "utils";
@import "syntax-highlighting";

// device sizes
$desktop: new-breakpoint(min-width 1141px 10);
$tablet: new-breakpoint(max-width 1140px 8);
$large-tablet: new-breakpoint(min-width 861px 8);
$small-tablet: new-breakpoint(max-width 860px 8);
$not-mobile: new-breakpoint(min-width 701px 4);
$mobile: new-breakpoint(max-width 700px 4);

div.container {
  margin: 0 auto;
  overflow: hidden;
  > .col-2 {
    @include span-columns(2);
    @include omega;
  }
  > .col-4 { @include span-columns(4); }
  > .col-8 {
    @include span-columns(8, block-collapse);
    @include omega;
    
    /* hacky solution */
    &:last-child {
      width: 83.08366%;
    }
  }
}

html {
  -webkit-text-size-adjust: 100%;
}

// font smoothing
body, input {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
}

// , .page, #docs, .menu
html, body {
  height: 100%;
}

body {
  color: $dark-gray;
}

a {
  text-decoration: none;
  color: $red;
  
  &:hover {
    text-decoration: underline;
  }
}

header {
  @include clearfix;
  //border-bottom: 2px solid $red;
  width:100%;
  
  position: fixed;
  z-index: 999999;
  
  .logo {
    width: 104px;
    height: 64px;
    background: $red;
    position: relative;
    
    // retina image
    img {
      padding: 6px 10px;
      width: 100%;
      position: absolute;
      top: 14px;
    }
  }
  
  > .wrap, > .nav {
    float: left;
    display: inline-block;
  }
  
  .wrap {
  }
  
  @include media($mobile) { 
    .header-nav li a {
      padding: 8px;
    }
  }
  
  .method {
    .header-section-description, .header-section-example {
      padding: 0;
    }

    .header-section-description {
      height: 52px;
      background: none;
    }
    .header-section-example {
      border:none;
      background: none;
    }
  }
}

.page {
  max-width: 1500px;
  margin: 0 auto;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  
  li {
    display: inline-block;
    float: left;
  }
  
  a {
    color: inherit;
  }
}

@include media($desktop) {
  .page {
    padding: 0 60px;
  }
}

// reference menu
.menu {
  font-family: $header-font;
  font-size: 0.92em;
  position: relative;
  z-index: 999;
  min-height: 1px;
  
  @include media($small-tablet) {
    margin-left: -400px;
    width: 400px;
  }
}

.menu-wrapper {
  margin-top: 52px;
  min-width: 128px;
  
  &.affix {
    position: fixed;
    top: 0;
  }
  
  &.affix-bottom {
    position: absolute;
  }
}

nav .ref-title {
  text-transform: uppercase;
  padding: 32px 12px 12px 12px;
  margin: 0;
  color: $gray;
  font-weight: 600;
}

.ref-section {
  margin: 0;
  padding: 0;
  
  li {
    list-style-type: none;
    
    a {
      display: block;
      padding: 5px 12px;
      
      &:hover {
        color: $dark-gray;
      }
    }
    
    &.active {
      > a {
        background: $red;
        color: white;
        font-weight: 600;
      }
      
      > ul {
        display: block;
      }
    }
    
    > ul {
      padding-left: 1em;
      display: none;
      
      a {
        color: mix($light-gray, $red, 25%);
      }
    }
  }
}

.methods {
  position: relative;
  background: $code-bg;
  
  // ??
  .lang-wrapper {
    display: table;
    width: 100%;
    
    .lang-col {
      width: 50%;
      display: table-cell;
    }
    
    @include media($mobile) {
      display: block;
      .lang-col {
        width: 100%;
        display: block;
      }
    }
  }
}

#languages {
  position: absolute;
  z-index: 20;
  width: 100%;
  font-size: 0.9em;
  top: 0;

  .languages {
    position: relative;
    width: 100%;
    height: 52px;
    padding: 7px;
    z-index: 20;
    //background: lighten($code-bg, 8%);
    //background: $code-bg;

    @include media($mobile) {
      width: 100%;
      left: 0;
    }
  }

  a {
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    color: $light-gray;
    font-family: $header-font;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

div.container > .methods {
  @include media($small-tablet) {
    width: 100%;
    &:last-child {
      width: 100%;
    }
    .method .description {
      padding-left: $gutter;
    }
  }
  
  &:after {
    @extend %psuedo-element;
    width: 2px;
    background: $code-bg;
    height: 34px;
    z-index: 23;
    top:0;
    right:0;
  }
}

.method {
  display: table;
  width: 100%;
  height: 100%;
  
  .description, .example {
    width: 50%;
    height: 100%;
    display: table-cell;
  }
  
  @include media($mobile) {
    display: block;
    .description, .example {
      width: 100%;
      display: block;
    }
  }
  
  h1, h2, h3, h4, h5 {
    margin: 0;
  }
  
  .description {
    border-bottom: 1px solid $light-gray;
    padding: $gutter*2 $gutter $gutter $gutter;
    background: white;
    position: relative;
    z-index: 24;
    
    h1, h2 {
      font-weight: 400;
      font-size: 1.5em;
    }

    h3 {
      color: $dark-gray;
      font-weight: normal;
    }

    h4 {
      color: $gray;
      font-weight: normal;
    }
    
    p {
      font-family: $body-font;
      line-height: 1.7em;
      color: $gray;
      font-size: 0.92em;
    }
    
    code {
      background: $light-gray;
      color: $dark-gray;
      padding: 0px 4px;
      font-style: normal;
      word-break: break-all;
    }
    
    pre {
      margin: 0;
    }
    
    hr {
      border: none;
      border-bottom: 1px solid $light-gray;
    }
  }
  
  .example {
    position: relative;
    background: $code-bg;
    color: $light-gray;
    font-size: 0.92em;
    padding: $gutter;
    padding-top: $gutter*2;
    border-bottom: 1px solid darken($code-bg, 10%);
    border-top: 1px solid lighten($code-bg, 10%);
    
    h3 {
      padding: $gutter 0 0 0;
      font-size: 1.25em;
      
      &:first-child {
        padding-top: 0;
      }
    }
    
    pre {
      white-space: pre-wrap;
    }
    
    code {
      color: $light-gray;
      display: block;
      padding: 8px 0;
      text-shadow: 1px 1px 1px darken($code-bg, 10%);
      line-height: 1.25em;
      font-style: normal;
      word-break: break-all;
      
      .prompt:after {
        content: '$ ';
      }
    }
    
    p {
      line-height: 1.25em;
    }
  }
  
  &:first-child {
    .example {
      border-top: none;
    }
  }
  
  &:last-child {
    .description {
      border-bottom: none;
    }
  }

  table {
    font-size: 0.9em;
    th, td {
      padding: 0.5em;
      border: 1px solid $light-gray;
    }

    th {
      color: $dark-gray;
    }
  }
  .description table td code {
    background: transparent;
  }
}

footer {
  text-align: center;
  background: #eee;
  padding: $gutter;
}

footer .footer-text {
  display:inline-block;
  font-size: small;
}

/*`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
  @include transition(left 0.2s ease-out);
  cursor: pointer;
  position: fixed;
  display: block; /* show this only on small screens */
  top: 0;
  right: 0;
  background: #000;
  background: rgba($dark-gray, 0.8);
  font-size: 10px; /* change this value to increase/decrease button size */
  z-index: 9999999;
  width: 2em;
  height: auto;
  padding: 2.1em 1.6em;

  &:hover, &:focus {
    background: $dark-gray;
  }

  span {
    position: relative;
    display: block;
    
    & {
      @include transition(all .2s);
    }

    &, &:before, &:after {
      background-color: #fff;
      width: 100%;
      height: 0.2em;
    }

    &:before, &:after {
      @include transition(all .4s);
      @include transform(rotate(deg));
      position: absolute;
      margin-top: -0.6em;
      content: " ";
      top: 0;
    }

    &:after {
      margin-top: 0.6em;
    }
  }

  &, & a, & span {
    box-sizing: initial;
  }
}

@include media($large-tablet) {
  .menu-link {
    display: none;
  }
}

@include media($small-tablet) {
  #menu {
    @include transition(left 0.2s cubic-bezier(0.165, 0.840, 0.440, 1.000));
    -webkit-transform: translate3d(0,0,0); // new layer hack
    position: fixed;
    margin-left: -194px;
    background: white;
    height: 100%;
    width: 194px !important;
    left: 0;
    top: 0;
  }
  
  body.active #menu {
    left: 194px;
  }
  
  body.active #toggle {
    span {
      background-color: rgba(255,255,255,0);

      &:before {
        @include transform(rotate(45deg));
        top:6px;
      }
      &:after {
        @include transform(rotate(-45deg));
        top:-6px;
      }
    }
  }
}
