name: build-docs

on:
  push:
    branches:
      - master
    paths:
      - 'openapi.yaml'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.4
    - uses: actions/setup-node@2.1.5
    - name: Install redoc-cli
      run: sudo npm install -g redoc-cli
    - name: Build
      run: redoc-cli bundle ./openapi.yaml
    - name: Move
      run: |
        mkdir -p docs
        mv redoc-static.html docs/index.html
    - name: Commit
      run: |
        git config user.name "$GITHUB_ACTOR"
        git config user.email "${GITHUB_ACTOR}@bots.github.com"
        git checkout master
        git add docs/index.html
        git commit -m "[Build] Build docs"
        git push origin master
