name: CI

on:
  push:
    branches:
      - master
    paths:
      - "**.rb"
  pull_request:
    paths:
      - "**.rb"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: true


      - name: Pull Images
        run: docker-compose pull

      - uses: satackey/action-docker-layer-caching@v0.0.11
        name: Docker layer cache
        # Ignore the failure of a step and avoid terminating the job.
        continue-on-error: true

      - name: Build images and launch containers
        run: docker-compose up --build -d

      - name: Scrape and import data
        run: docker-compose exec -T -e CI=${{ env.CI }} umdio bundle exec rake test_scrape

      - name: Run tests
        run: docker-compose exec -T -e CI=${{ env.CI }} umdio bundle exec rake test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1

        with:
          directory: ./coverage/
          name: codecov-umbrella
